// primary colors
$primary-col-1: rgb(70, 34, 34);
$primary-col-2: #ffff;
$primary-col-3: #000;

$primary-col-4: #bc7035;
$primary-col-5: #813b0d;
$primary-col-6: #cc9444;
$primary-col-7: #dc8c54;
$primary-col-8: #a46c2c;

$tranbgColor: #1e120bd3;
$textColor: #1e120b;
$accentColor: #dc8c54;

$bgColor: #813b0d; // pri-col-5
$Background-col: #fdf2ea54; // 
$dark-accentColor: #dc7035;
$li-color: #03034e;
$grayishbalck: #323232;
$para-color: #000814;
$light-lightGrey: #d9d9d9;
$back-Col-main: #f6faff;
$header-bg: #e1eff8;


$box-shadow: #DFE2ED;
$primary-light-blue: #3DC5E2;
$margin-small: 1em;
$gray: rgb(230, 218, 218);

// neutral colors
$background-col-dash: #F6FAFF;
$background-col-one: #fdf2ea54;



// media queries
$large_screen: 1150px;

$medium_screen: 960px;
$medium_screenm: 1200px;
$medium_screenl: 1300px;

@mixin large {
  @media (min-width: $large_screen) {
    @content;
  }
}
@mixin medium {
  @media (min-width: $medium_screen) {
    @content;
  }
}
@mixin mmedium {
  @media (min-width: $medium_screenm) {
    @content;
  }
}
@mixin lmedium {
  @media (min-width: $medium_screenl) {
    @content;
  }
}