// primary colors
$primary-col-1: rgb(70, 34, 34);
$primary-col-2: #ffff;
$primary-col-3: #000;

$primary-col-4: #bc7035;
$primary-col-5: #813b0d;
$primary-col-6: #cc9444;
$primary-col-7: #dc8c54;
$primary-col-8: #a46c2c;



$box-shadow: #DFE2ED;
$primary-light-blue: #3DC5E2;
$margin-small: 1em;
$gray: rgb(230, 218, 218);

// neutral colors
$background-col-dash: #F6FAFF;
$background-col-one: #F9F9F9;

// media queries
$baby-shark: 400px;
$brother-shark: 600px;
$mama-shark: 800px;
$uncle-shark: 1200px;
$papa-shark: 1400px;