// primary colors
$primary-col-1: rgb(70, 34, 34);
$primary-col-2: #ffff;
$primary-col-3: #000;
$primary-col-4: rgb(197, 197, 33);

$box-shadow: #DFE2ED;
$primary-light-blue: #3DC5E2;
$margin-small: 1em;
$gray: rgb(155, 144, 144);

// neutral colors
$background-col-dash: #F6FAFF;


// media queries
$baby-shark: 400px;
$brother-shark: 600px;
$mama-shark: 800px;
$uncle-shark: 1200px;
$papa-shark: 1400px;