@import './reset', './variables', "./footer&nav", './nav' ;

/// donkey stable
*:focus {
    outline: none;
}

.donkey-stable{
    padding: 6rem 1rem;
    padding-top: 2rem;
}

.donkey_stable_head{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    // width: 80%;
    height: auto;
    // max-width: 1600px;
    max-height: 800px;
    display: flex;
    gap: 1.5em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallery-image{
    width: 30%;
    height: calc(50% - 20px);
    min-width: 300px;
    min-height: 200px;
    margin: 10px;
    overflow: hidden;
}

.donkey-stable-img, .donkey-stable-img2, .donkey-stable-img3, .donkey-stable-img4, .donkey-stable-img5, .donkey-stable-img6, .donkey-stable-img7, .donkey-stable-img8, .donkey-stable-img9, .donkey-stable-img10, .donkey-stable-img11, .donkey-stable-img12, .donkey-stable-img13, .donkey-stable-img14, .donkey-stable-img15, .donkey-stable-img16, .donkey-stable-img17, .donkey-stable-img18, .donkey-stable-img19, .donkey-stable-img20, .donkey-stable-img21, .donkey-stable-img22, .donkey-stable-img23, .donkey-stable-img24, .donkey-stable-img25, .donkey-stable-img26, .donkey-stable-img27, .donkey-stable-img28, .donkey-stable-img29, .donkey-stable-img30{
    width: 100%;
    height: 100%;
    // width: 16em;
    // min-width: 10em;
    height: 14em;
    min-height: 8em;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;

    &:hover{
        opacity: 0.7;
    }
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }