@import './reset', './variables';



/////////////////////////////////
// HOME PAGE
// .home{
//     position: relative;
// }

.welcome{
    position: relative;
    height: 80vh;
    width: auto;

    /* Will not allow the video to overflow the 
    container */
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

video {
    /** Simulationg background-size: cover */
    object-fit: cover;
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

.welcome_content{
    position: relative;
    color: white;
    text-shadow: 1px 1px 8px rgba(0,0,0,0.6);
}

.welcome_content_btn{
    margin-top: 2em;
}
.welcome_content_btns{
    border-radius: 25px;
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: 600;
}
.welcome_about{
    background-color: $primary-col-1;
    color: $primary-col-2;
}
.welcome_about:hover{
    background-color: $primary-col-3;
    color: $primary-col-2;
}
.welcome_service{
    background-color: $primary-col-2;
    color: $primary-col-1;
}
.welcome_service:hover{
    background-color: $primary-col-1;
    color: $primary-col-2;
}

@media screen and (min-width: 425px) and (max-width: 563px){

}

@media screen and (min-width: 0px) and (max-width: 425px){
    .welcome_content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .welcome_content--1{
        font-size: 1.2em;
        font-weight: 600;
    }
    .welcome_content--2{
        font-size: 1.6em;
        font-weight: 600;
        text-align: center;
    }

    

}

/////////////////////////

.donkey_sections{
    display: flex;
    justify-content: space-between;
    padding: 3em 2em;
}
.donkey_section--img{
    height: 24em;
    width: 17em;
    border-radius: 3px;
    transition: .5s;
}

.donkey_sections--1{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.donkey_sections--2{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.donkey_sections_cont{
    height: 24em;
    // margin: 50px;
    width: 17em;
    border: 1px solid red;
    margin-bottom: 1em;
    overflow: hidden;
}
.donkey_sections_cont_2{
    height: 24em;
    // margin: 50px;
    width: 17em;
    border: 1px solid green;
    margin-bottom: 1em;
    overflow: hidden;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .donkey_sections{
        display: flex;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
    .donkey_sections{
        flex-direction: column;
    }
    .donkey_sections--1{
        display: flex;
        justify-content: space-around;
        width: auto;
    }
    .donkey_sections--2{
        display: flex;
        justify-content: space-around;
        width: auto;
    }
    .donkey_sections_cont{
        width: 20em;
        height: 24em;
        border: 1px solid red;
        margin-bottom: 1em;
    }
    .donkey_sections_cont_2{
        width: 20em;
        height: 24em;
        border: 1px solid green;
        margin-bottom: 1em;
    }
    .donkey_sections--img{
        width: 20em;
    }
}
@media screen and (min-width: 0px) and (max-width: 425px){
    .donkey_sections{
        display: flex;
        flex-direction: column;
    }
    .donkey_sections--1{
        display: flex;
        flex-direction: column;
        width: auto;
        align-self: center;
    }
    .donkey_sections--2{
        display: flex;
        flex-direction: column;
        width: auto;
        align-self: center;
    }
    .donkey_sections_cont{
        width: 20em;
        height: 24em;
        border: 1px solid red;
        margin-bottom: 1em;
    }
    .donkey_sections_cont_2{
        width: 20em;
        height: 24em;
        border: 1px solid green;
        margin-bottom: 1em;
    }
    .donkey_sections--img{
        width: 100%;
        height: auto;
    }
}



// .intro{
//     height: 200px;
//     width: 350px;
//     padding: 6px;
//     box-sizing: border-box;
//     position: absolute;
//     bottom: 240px;
//     transition: .5s;
// }

// .donkey_sections_cont:hover {
//     cursor: pointer;
// }
// .donkey_sections_cont:hover .intro{
//     height: 220px;
//     bottom: 240px;
//     background-color: black;
// }

// .intro_desc{
//     font-size: 20px;
//     margin: 20px;
//     visibility: hidden;
//     opacity: 0;
// }
// .donkey_sections_cont:hover .intro_desc{
//     opacity: 1;
//     visibility: visible;
// }

////////////////////////////////
//our about us

.our_about_us{
    display: flex;
}
.our_about_us--1{
    width: 50%;
    margin-bottom: 2em;
}
.our_about_us--2{
    width: 50%;
}

.our_about_us_header{    
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.our_about_us_header_1{
    font-size: 1.2em;
    font-weight: 600;
    color: $primary-col-1;
    
}
.our_about_us_desc{
    font-size: 1.4em;
    font-weight: 600;
    color: $primary-col-4;
    line-height: 1.4em;
}
.our_about_us_brief{
    margin: 2em 0;
}
.about_us-image{
    height: 20em;
    width: 19em;
}
ul { list-style-type: none; }

.check{
    margin-right: $margin-small;
}

.our_about_us_btnCont{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.our_about_us_btn{
    border-radius: 5px;
    background-color: $primary-col-4;
    border: 0px;
    color: $primary-col-3;
    padding: 1em 1.5em;
}

@media screen and (min-width: 425.1px) and (max-width: 768px){
    .our_about_us{        
        padding: 3em 1em;
    }
    .our_about_us--2 {
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .about_us-image {
        height: 29em;
    }
}

@media screen and (min-width: 0px) and (max-width: 425px){
    .our_about_us{
        flex-direction: column;
        padding: 3em 1em;
    }
    .our_about_us--1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .our_about_us--2{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
