@import './reset', './variables';



/////////////////////////////////
// HOME PAGE
.home{
    position: relative;
}
.welcome{
    height: 80vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





////////////////////////////////