@import './reset', './variables';





/////////////////////////////////
// HOME PAGE

.welcome{
    height: 80vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




////////////////////////////////