* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor-1: #813b0d;
  --secondaryColor: #fdf2ea54;
  --primaryColor2: #fff;
}
body {
  /* width: 100%; */
  font-family: "Open Sans", sans-serif;
}
p {
  font-size: clamp(1rem, 3.5vw, 1.2rem);
}
h2 {
  font-size: clamp(1.2rem, 3.5vw, 2rem);
}
h3 {
  text-align: center;
  font-size: clamp(1.2rem, 3.5vw, 2rem);
  text-transform: uppercase;
  color: var(--primaryColor-1);
  /* background-color: #813b0d; */
}
h4 {
  font-size: 1.1rem, 3.5vw, 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primaryColor-1);
}
p {
  color: #1e120b;
}
a {
  cursor: pointer;
}
p,
h2,
h3,
h4,
h5,
a {
  /* color: #5c3021; */
  font-family: "Open Sans", sans-serif;
  /* color: #813b0d; */
}
p {
  /* font-size: 1.1rem; */
  line-height: 1.6;
}

.context {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* background-color: #cc9444; */
  color: #813b0d;
  /* background-color: #ffe4c3; */
}
.banner {
  width: 100%;
  /* background-color: red; */
  /* height: 400px; */
  min-height: 300px;
  background-image: url("../assets/service/donkeys-banner.webp");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.banner:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #1e120b;
  opacity: 0.4;
  /* height: 100%; */
}
.about {
  position: absolute;
  color: #fff;
  z-index: 100;
  /* font-size: 4rem; */
  text-transform: uppercase;
  top: 40%;
  text-align: center;
  font-weight: bold;
  /* background-color: red; */
  width: 100%;
  align-items: center;
}
.about h2 {
  font-size: clamp(2rem, 3.5vw, 4.5rem);
  font-weight: 600;
}

.content {
  background-color: var(--secondaryColor);
}
.Container {
  width: 90%;
  padding-block: 6rem;
  margin: 0 auto;
  max-width: 1600px;
}
.text {
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  /* height: 10em; */
  width: 100%;
  justify-content: center;
}

.text h2 {
  /* font-size: 2.5rem; */
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
.text h4 {
  margin-top: 1em;
  width: 80%;
  text-align: center;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  /* font-size: 1.5rem; */
  line-height: 1.7;
}
.section-image {
  /* padding: 0 6em; */
  display: flex;
  gap: 1.5em;
  margin-top: 3em;
  /* background-color: red; */
}
.item-image {
  display: flex;
  /* align-items: center; */
  /* justify-content: flex-start; */
  width: 50%;
}
.item-image img {
  width: 100%;
}
p {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
.paragraph {
  margin-bottom: 2em;
  width: 100%;
  line-height: 1.6;

  /* text-align: center; */
}
.text-paragraph {
  line-height: 1.6;
  width: 100%;
}
.item {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  justify-content: center;
  align-items: center;
  line-height: 23px;
  /* padding: 1em; */
  /* background-color: blue; */
}
/*
remove the container padding
 */
.Container.remove {
  width: 100%;
  padding-bottom: 0;
}
.read {
  margin-top: 0.5em;
  text-decoration: none;
  /* font-size: 1.5rem; */
  /* color: #5c3021; */
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.underline {
  width: 3em;
  background-color: #5c3021;
  height: 0.2em;
  margin-top: 2em;
}
.background-image {
  position: relative;
  width: 100%;
  height: auto;
}
.background-image img {
  width: 100%;
  height: 100%;
}

.line {
  margin: 0 auto;
  margin-top: 1em;
  width: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primaryColor-1);
  height: 0.2em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.line-up {
  margin: 0 auto;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primaryColor-1);
  height: 0.1em;
  margin-top: 0.5em;
}
/* design for mission */
.mission-section {
  background-color: var(--secondaryColor);
}
.sec-mission {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin: 0 auto;

  position: relative;
}

.mission1 {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: left;
  padding: 2rem;
  background-color: var(--primaryColor2);
  /* margin-top: 1em; */
  gap: 1rem;
  /* background-color: rgba(255, 255, 255, 0.8); */
  height: auto;
  /* width: 400px; */
  box-shadow: 0 0 20px 0 rgba(53, 14, 14, 0.06);
  /* background-color: #5c3021; */
}
.icon-shake {
  background-color: var(--primaryColor-1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 2rem;
}
.icon-shake :hover {
  padding: 2rem;

  background-color: #fff;
}
.icon-shake i:hover {
  color: var(--primaryColor-1);
}
.icon-shake i {
  color: #fff;
  font-size: 2rem;
}
.mission1 h2 {
  /* color: #5c3021; */
  text-transform: capitalize;
  font-weight: bold;
  /* font-size: 2rem; */
  text-align: center;
}
.mission1 p {
  /* text-align: center; */
  width: 100%;
  /* padding: 0 2em; */
  /* background-color: red; */
}
/* design for mission */
/* Design for history */
.history-section {
  background-color: var(--primaryColor2);
  /* background-color: red; */
}
.history {
  display: flex;
  flex-direction: column;
  /* margin-top: 3em; */
}
.history h2 {
  text-align: center;

  font-weight: bold;
  text-transform: uppercase;
}
.history-content {
  display: flex;
  /* padding: 0 6em; */
  gap: 2em;
}
.year1 {
  background-color: var(--primaryColor-1);
  margin-top: 0.5em;
}
.year1 {
  text-align: center;
  /* box-shadow: 1px 1px 3px 2px #bc987e; */
  padding: 2em;
  margin-top: 3em;
  /* border-radius: 8px; */
}
.year1 p {
  color: #fff;
  padding: 2em 4em;
  text-align: left;
}
.underline-text {
  margin: 0 auto;
  height: 0.2em;
  background-color: var(--primaryColor-1);
  width: 4em;
  /* margin-top: 1em; */
  margin-top: 1em;
}
.premium {
  /* color: #5c3021; */
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  /* font-size: 2rem; */
}
.item-content {
  display: flex;
  width: 100%;
  gap: 3rem;
  margin-top: 3em;
  flex-wrap: wrap;
  justify-content: center;
  /* padding: 0 6em; */
}
.item-1 {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.item-1 p {
  margin-top: 1.7em;
  width: 100%;
  /* padding: 0 1em; */
  /* color: #5c3021; */
}
.item-1 img {
  width: 100%;
  /* height: auto; */
}
.line-straight {
  height: 0.2em;
  width: 3em;
  background-color: #5c3021;
  margin-left: 4em;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 0.5em;
}
.item-1 a {
  /* letter-spacing: 0.2em; */
  text-transform: uppercase;
  padding: 8px;
  background-color: var(--primaryColor-1);
  color: #fff;
  border-radius: 8px;
  /* font-size: 1rem; */
  /* color: #5c3021; */
  text-decoration: none;
  /* width: 40%; */
  margin-top: 1em;
  /* width: 40%; */
  width: 150px;
  text-align: center;
  /* margin: 0 auto; */
}
.item-1 a:hover {
  background-color: #fff;
  color: var(--primaryColor-1);
  border: 2px solid var(--primaryColor-1);
}
.premium h2 {
  /* font-size: 2rem; */
  font-weight: bold;
  text-transform: uppercase;
}

.lines {
  width: 3em;
  height: 0.2em;
  background-color: var(--primaryColor-1);
  margin: 0 auto;
}
.image1 p {
  text-align: center;
  /* color: #5c3021; */
}
.our-products {
  background-color: var(--primaryColor2);
}
.bold {
  font-weight: bold;
}
.meet-section {
  background-color: var(--secondaryColor);
  /* background-color: green; */
}
.meet {
  display: flex;
  /* padding: 0 6em; */
  /* margin-top: 4em; */
  flex-direction: column;
  margin-bottom: 2em;
}
.meet h2 {
  text-align: center;
  /* font-size: 2rem; */
  font-weight: bold;
  text-transform: uppercase;
  /* color: #5c3021; */
}

.card-component {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  /* background-color: red; */
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  gap: 3em;
  /* width: 100%; */
}
.meet-card {
  display: grid;
  margin-top: 3em;
  padding: 2em 1em;
  height: auto;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 0 20px 0 rgba(53, 14, 14, 0.06);
  gap: 1em;
  background-color: white;
}
.meet-card .name {
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
}
.meet-card .office {
  font-size: 0.5rem;
  margin-top: 0.5em;
  text-transform: uppercase;
}
.meet-card p {
  text-align: center;
  /* font-size: 0.8rem; */
}
.meet-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;

  position: relative;
  margin-top: -5em;
}
.meet-image img {
  display: flex;
  width: 100%;
  /* border-radius: 50%; */
  margin: 0 auto;
  /* height: 100px; */
}

@media screen and (max-width: 992px) {
  .body {
    width: 100%;
  }
  .item-1 {
    width: 40%;
  }

  .text h4 {
    width: 80%;
  }
  .context {
    width: 100%;
  }
  .content {
    width: 100%;
    display: flex;
  }
  .section-image {
    display: flex;
    width: 100%;
    margin-top: 2em;
    gap: 1.5em;
    padding: 0 2em;
  }
  .item-image {
    width: 50%;
    /* height: 800px; */
  }
  .item-image img {
    width: 100%;
    /* padding: 0 2em; */
  }
  .item {
    width: 50%;
  }
  .paragraph {
    /* font-size: 0.9rem; */
    width: 100%;
    margin-bottom: 1em;
  }
  .text-paragraph {
    /* font-size: 0.9rem; */

    width: 100%;
  }
  .underline {
    margin-top: 1.3em;
  }

  .underline-text {
    height: 0.3em;
  }

  .text h4 {
    margin-top: 0.5em;
  }

  .text {
    margin-top: 3em;
    align-items: center;
    margin-top: 1em;
    /* height: auto */
  }

  .item-content {
    padding: 0 2em;
  }
  .meet {
    padding: 0 2em;
  }
}

@media screen and (max-width: 768px) {
  .body {
    width: 100%;
  }

  .context {
    width: 100%;
  }
  .content {
    width: 100%;
    display: flex;
  }
  .text h4 {
    width: 80%;
  }
  .section-image {
    display: flex;
    width: 100%;
    margin-top: 2em;
    gap: 1.5em;
    /* background-color: red; */
    padding: 0 2em;
  }
  .item-image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    /* height: 800px; */
  }
  .item-image img {
    width: 100%;
    /* padding: 0 2em; */
  }
  .item {
    width: 50%;
  }
  .paragraph {
    /* font-size: 0.9rem; */
    width: 100%;
    margin-bottom: 1em;
  }
  .text-paragraph {
    /* font-size: 0.9rem; */
    width: 100%;
  }
  .underline {
    margin-top: 1.3em;
  }

  .underline-text {
    height: 0.3em;
    /* margin-top: -2em; */
  }
  .mission1 {
    padding: 1.5em 1em;
    align-items: center;
    height: auto;
  }

  .mission1 p {
    text-align: center;
    padding: 0 1em;
  }
  .text h4 {
    margin-top: 0.5em;
  }
  .text h2 {
    font-weight: bold;
  }

  .text {
    margin-top: 3em;
    align-items: center;
    margin-top: 1em;
  }

  .item-content {
    padding: 0 2em;
  }
  .year1 {
    padding: 1em;
  }
  .meet {
    padding: 0 2em;
  }
}
@media screen and (max-width: 580px) {
  body {
    width: 100%;
  }
  .context {
    width: 100%;
  }

  .logo-img {
    height: 140px;
  }

  */ .text {
    height: auto;
  }
  .text h2 {
    width: 100%;
    /* font-size: 2rem; */
    margin: 0 auto;
    text-align: center;
    padding: 0 2em;
    font-weight: bold;
  }
  .text h4 {
    width: 100%;
    /* font-size: 1rem; */
    padding: 0 2em;
  }
  .section-image {
    flex-direction: column;
    width: 100%;
    margin-top: 2em;
    padding: 0 1.5em;
  }
  .item-content {
    flex-direction: column;
  }
  .item-1 {
    width: 100%;
  }
  .item-image {
    width: 100%;
  }
  .item-image img {
    width: 100%;
  }

  .item {
    width: 100%;
  }

  .paragraph {
    margin-bottom: 2em;
    width: 100%;
  }
  .text-paragraph {
    width: 100%;
  }
  .background-image {
    margin-top: 4em;
  }
  .background-image img {
    width: 100%;
    height: 100%;
  }
  .our-products {
    margin-top: 1.5em;
  }
  .missions {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    width: 100%;
    gap: 1em;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .mission {
    width: 100%;
    padding: 0;
  }

  .premium {
    text-align: center;
    margin-top: 2em;
  }

  .sec-mission {
    flex-direction: column;
    width: 100%;
  }
  .mission1 {
    width: 100%;
    padding: 1.3em 2em;
  }

  .mission1 p {
    padding: 0 1em;
  }

  .history-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
  }
  .year1 {
    padding: 1em;
  }
  .year1 p {
    padding: 1em 1em;
  }
  .meet {
    padding: 0 2em;
  }
}

@media screen and (max-width: 425px) {
  body {
    width: 100%;
  }
  .context {
    width: 100%;
  }
  .banner {
    min-height: 150px;
  }

  /* .content {
    margin-top: 2em;
  } */
  .text {
    height: auto;
  }
  .text h2 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 2em;
    font-weight: bold;
  }
  .text h4 {
    width: 100%;
    padding: 0 2em;
  }
  .section-image {
    flex-direction: column;
    width: 100%;
    margin-top: 1em;
    padding: 0 1.5em;
  }
  .section-image img {
    width: 100%;
  }
  .line {
    margin-left: 40%;
  }
  .item {
    width: 100%;
  }
  .paragraph {
    margin-bottom: 2em;
    width: 100%;
    /* font-size: 1.2rem; */
    line-height: 1.5;
  }
  .text-paragraph {
    line-height: 1.5;
    /* font-size: 1.2rem; */
    width: 100%;
  }

  .premium {
    text-align: center;
    /* margin-top: 2em; */
    padding: 0 1em;
  }
  .item-content {
    flex-direction: column;
    padding: 0 2em;
  }
  .item-1 {
    width: 100%;
  }

  .sec-mission {
    flex-direction: column;
    width: 100%;
  }
  .mission1 {
    width: 80%;
    margin: 0 auto;
  }

  .mission1 p {
    padding: 0 0.5em;
  }

  .year1 {
    padding: 1.5em;
  }
  .year1 p {
    /* font-size: 1.2rem; */
    padding: 1em 0.5em;
  }
  .history-content {
    gap: 1em;
  }

  .card-component {
    grid-template-columns: 1fr;

    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 375px) {
  body {
    width: 100%;
  }
  .Container {
    padding-block: 4rem;
  }

  .context {
    width: 100%;
  }
  .about {
    text-align: center;
  }

  .text h2 {
    width: 100%;

    margin: 0 auto;
    text-align: center;
    padding: 0 1em;
    font-weight: bold;
  }
  .text h4 {
    width: 100%;

    padding: 0 2em;
  }
  .section-image {
    flex-direction: column;
    width: 100%;
    margin-top: 2em;
    padding: 0 1.5em;
  }
  .section-image img {
    width: 100%;
  }
  .line {
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: 40%;
  }
  .item {
    width: 100%;
  }
  .paragraph {
    margin-bottom: 1.5em;
    width: 100%;
  }
  .text-paragraph {
    width: 100%;
  }
  .background-image {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    width: 100%;
    height: 900px;
  }
  .background-image img {
    width: 100%;
  }
  .our-products {
    margin-top: 1.5em;
  }

  .mission1 {
    margin: 0 auto;
    width: 100%;
  }
  .mission1 h4 {
    text-align: center;
  }
  .premium {
    text-align: center;
    display: flex;
  }

  .item-content {
    flex-direction: column;
    padding: 0 2em;
  }

  .item-1 {
    width: 100%;
  }
  .item-1 p {
    line-height: 1.5;
  }
}
@media screen and (max-width: 780px) {
  .section-image {
    flex-direction: column;
    width: 100%;
  }
  .item-image {
    width: 100%;
  }
  .item {
    width: 100%;
  }
  .banner {
    min-height: 150px;
  }
}
@media screen and (max-width: 450px) {
  .item-1 p,
  .item p,
  .year1 p {
    text-align: center;
  }
  .item-1 a {
    align-self: center;
  }
}
.banner p {
  color: white;
  font-size: 1rem;
  text-transform: none;
}
.hidden {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
}
.show {
  opacity: 1;
  filter: blur(0);
}
.describe,
.pro1,
.meet1 {
  transition-delay: 100ms;
}
.section-image,
.pro2,
.meet2 {
  transition-delay: 300ms;
}
.pro3,
.meet3 {
  transition-delay: 500ms;
}
.meet4 {
  transition-delay: 700ms;
}
.mission01 {
  transition-delay: 100ms;
}
.mission02 {
  transition-delay: 400ms;
}
