@import './reset', './variables';

//////////////////////
/// blopg post

 .blog_post{
    margin: 0em 0;
    padding-bottom: 1em;
    background-color: $background-col-one;
 }

 .blog_post_intro{
    height: 13em;
    width: 100%;
    color: $primary-col-2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/landing_page/crop-farm-2.jpg);
    background-position: center;
 }
 .blog_post_intro--2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
    background-color: $primary-col-1;
    color: $primary-col-2;
    padding: 1em 0;
    border-top: 0.7em solid $primary-col-4;
 }
 .blog_post_header{
    margin-bottom: 0.2em;
    font-size: 2.1em;
    font-weight: 600;
 }
 .blog_post_body{
    margin: 3em 7em;
    display: flex;
    justify-content: space-around;
 }
 .blog_post_body--1{
    width: 55%;
    background-color: $background-col-one;
 }
 .blog_post_body--1_0{
   margin-top: 0.8em;
   margin-bottom: 2.2em;
   background-color: $primary-col-2;
   padding-bottom: 0.4em;
   box-shadow: 0 0.3em 2em rgba(0, 0, 0, 0.4);
 }
 .blog_post_body--2{
    width: 30%;
    background-color: $background-col-one;
 }
 .blog_post_img_container{
    margin: 0 0;
 }

 @media screen and (min-width: 768.1px) and (max-width: 1024px){
   .blog_post_body{
      margin: 3em 0em;
   }
 }
 @media screen and (min-width: 425.1px) and (max-width: 768px){
   .blog_post_body{
      flex-direction: column;
      margin: 0 1.1em;
   }
   .blog_post_body--1{
      width: 100%;
      background-color: $background-col-one;
   }
   .blog_post_body--2{
      width: 100%;
      background-color: $background-col-one;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .blog_calendar{
      margin: 0 8em;
   }
}
@media screen and (min-width: 0px) and (max-width: 425px){
   .blog_post_body{
      flex-direction: column;
      margin: 0 1.1em;
   }
   .blog_post_body--1{
      width: 100%;
      background-color: $background-col-one;
   }
   .blog_post_body--2{
      width: 100%;
      background-color: $background-col-one;
   }
}

 .blog_post_img{
    width: 100%;
    height: 19em;
 }
 .blog_post_describtion{
    margin: 2em 2em;
 }
 .blog_post_subject{
   font-size: 1.4em;
   font-weight: 600;
 }
 .blog_post_info{
   display: flex;
 }
 .date{
   margin-right: 1.4em;
   color: $primary-col-1;
 }
 .date:hover{
   color: $primary-col-4;
 }

 .comment{
   color: $primary-col-1;
 }
 .comment:hover{
   color: $primary-col-4;
 }


 .categories{
    padding: 2em 2em;
    background-color: $primary-col-6;  
    display: flex;
    flex-direction: column;
    margin: 0.8em 0;
    margin-bottom: 2.2em;
    border-radius: 15px;
    box-shadow: 0 0.3em 2em rgba(0, 0, 0, 0.4);
 }
 .categories_head{
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0.6em;
 }
 .categories_head:after {
   content: "";
   width: 55px;
   height: 5px;
   display: block;
   background-color: $primary-col-3;
   margin-top: 10px;
 }

.cat_item{
   display: flex;
}
.cat_item_icon{
   padding-top: 0.2em;
   margin-right: 0.4em;
}

.recent_post{
   background-color: $primary-col-6;
   margin: 0.8em 0;
   padding: 1.2em 2em;
   margin-bottom: 2.2em;
   border-radius: 15px;
   box-shadow: 0 0.3em 2em rgba(0, 0, 0, 0.4);
}

.recent_post_head{
   font-size: 1.5em;
   font-weight: 600;
   margin-bottom: 0.6em;
}
.recent_post_head:after {
   content: "";
   width: 55px;
   height: 5px;
   display: block;
   background-color: $primary-col-3;
   margin-top: 10px;
 }

// calendar bar note: calendar is sharing some class properties with recent post
.calendar_post{
   background-color: $primary-col-6;
   margin: 0.8em 0;
   padding: 1.2em 0;
   padding-bottom: 0.8em;
   margin-bottom: 2.2em;
   border-radius: 15px;
   box-shadow: 0 0.3em 2em rgba(0, 0, 0, 0.4);
}
.calendar_post_head{
   font-size: 1.5em;
   font-weight: 600;
   margin-bottom: 0.6em;
   padding: 0 1.5em;
}
.calendar_post_head:after {
   content: "";
   width: 55px;
   height: 5px;
   display: block;
   background-color: $primary-col-3;
   margin-top: 10px;
 }

.calendar_container {
   width: 100%;
   height: auto;
   // background-color: #12121f;
   background-color: $primary-col-6;
   color: #eee;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Quicksand', sans-serif;
}

.blog_calendar {
   width: 100%; //21em
   height: 26em;
   // background-color: #222227;
   background-color: $primary-col-6;
   // box-shadow: 0 0.3em 2em rgba(0, 0, 0, 0.4);
}

.blog_month{
   width: 100%;
   height: 10em;
   background-color: $primary-col-6;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 1em;
   text-align: center;
   text-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.4);
}

.blog_month i {
   font-size: 2em;
   cursor: pointer;
}

.blog_month h1 {
   font-size: 1.6em;
   font-weight: 400;
   text-transform: uppercase;
   letter-spacing: 0.1em;
   margin-bottom: 0.3em;
}

.blog_month p {
   font-size: 1.1em;
}

.blog_weekdays {
   width: 100%;
   height: 3em;
   padding: 0 0.2em;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.blog_weekdays div {
   font-size: 0.8em;
   font-weight: 400;
   letter-spacing: 0.1em;
   width: calc(21em/7);
   width: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-shadow: 0 0.3em 0.4em rgba(0, 0, 0, 0.5);
}

.blog_days {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   padding: 0.1em;
}

.blog_days div {
   font-size: 1em;
   margin: 0.1em;
   width: calc(16em / 7);
   height: 2.2em;
   display: flex;
   justify-content: center;
   align-items: center;
   text-shadow: 0 0.3em 0.4em rgba(0, 0, 0, 0.5);
   transition: background-color 0.2s ;
}

.blog_days div:hover:not(.today){
   background-color: #262626;
   border: 0.1em solid #777;
   cursor: pointer;
}

.prev-date,
.next-date {
   opacity: 0.5;
}

.today {
   background-color: #167e56;
}

@media screen and (min-width: 425.1px) and (max-width: 768px){
   .categories{
      // margin-left: 8em;
      // margin-right: 8em;
      width: 25em;
   }
   .recent_post{
      // margin-left: 8em;
      // margin-right: 8em;
      width: 25em;
   }
   .calendar_post{
      // margin-left: 8em;
      // margin-right: 8em;
      width: 25em;
   }
}

@media screen and (min-width: 0px) and (max-width: 425px){
   .blog_calendar{
      margin: 0 3.1em;
   }
}

//  make the navlink of the current page you're in the link with the active state