@import './reset', './variables';

//////////////////////
/// blopg post

 .blog_post{
    margin: 0em 0;
    padding-bottom: 1em;
    background-color: $background-col-one;
 }

 .blog_post_intro{
    height: 13em;
    width: 100%;
    color: $primary-col-2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/landing_page/crop-farm-2.jpg);
    background-position: center;
 }
 .blog_post_intro--2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
    background-color: $primary-col-1;
    color: $primary-col-2;
    padding: 1em 0;
    border-top: 0.7em solid $primary-col-4;
 }
 .blog_post_header{
    margin-bottom: 0.2em;
    font-size: 2.1em;
    font-weight: 600;
 }
 .blog_post_body{
    margin: 3em 7em;
    display: flex;
    justify-content: space-around;
 }
 .blog_post_body--1{
    width: 55%;
    background-color: $background-col-one;
 }
 .blog_post_body--1_0{
   margin-top: 0.8em;
   background-color: $primary-col-2;
   padding-bottom: 0.4em;
 }
 .blog_post_body--2{
    width: 30%;
    background-color: $background-col-one;
 }
 .blog_post_img_container{
    margin: 0 0;
 }

 .blog_post_img{
    width: 100%;
    height: 19em;
 }
 .blog_post_describtion{
    margin: 2em 2em;
 }
 .blog_post_subject{
   font-size: 1.4em;
   font-weight: 600;
 }
 .blog_post_info{
   display: flex;
 }
 .date{
   margin-right: 1.4em;
   color: $primary-col-1;
 }
 .date:hover{
   color: $primary-col-4;
 }

 .comment{
   color: $primary-col-1;
 }
 .comment:hover{
   color: $primary-col-4;
 }


 .categories{
    padding: 2em 2em;
    background-color: red;
    display: flex;
    flex-direction: column;
    margin: 0.8em 0;
 }
 .categories_head{
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0.6em;
 }
 .categories_head:after {
   content: "";
   width: 55px;
   height: 5px;
   display: block;
   background-color: $primary-col-3;
   margin-top: 10px;
 }

.cat_item{
   display: flex;
}
.cat_item_icon{
   padding-top: 0.2em;
   margin-right: 0.4em;
}

.recent_post{
   background-color: green;
   margin: 0.8em 0;
   padding: 1.2em 2em;
}
.recent_post_head{
   font-size: 1.5em;
   font-weight: 600;
   margin-bottom: 0.6em;
}
.recent_post_head:after {
   content: "";
   width: 55px;
   height: 5px;
   display: block;
   background-color: $primary-col-3;
   margin-top: 10px;
 }

// calendar bar note: calendar is sharing some class properties with recent post




//  make the navlink of the current page you're in the link with the active state