@import './reset', './variables';



.quick-info{
    display: flex;
    background-color: $primary-col-1;
    color: $primary-col-2;
}
@media screen and (min-width: 1024px){
    .quick-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.2em;
        text-align: center;
    }
    .quick-info--1{
        display: flex;
        justify-content: space-around;
    }
    .quick-info--2{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 0.6em;
        
    }
    div.container-fluid{
        background-color: $primary-col-1;
        color: $primary-col-2;
    }

    section.brandname {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0.5em;
        color: brown;
    }

    .navbar-brand {        
        color: $primary-col-1;
    }
    
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        padding-top: 0.3em;
        padding-bottom: 0.3em;
    }

    .navbar-light .navbar-brand {
        color: $primary-col-2;
    }

    .navbar-light .navbar-toggler {
        color: white;
        border-color: rgba(0,0,0,.1);
    }

    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");        
        background-color: white;
    }

    .navbar-light .navbar-nav , .navbar-light .navbar-nav .show>.nav-link {
        color: rgba(0,0,0,.9);
    }

    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
        color: $primary-col-2;
    }

    .navbar-light .navbar-nav .nav-link{
        color: $primary-col-2;
    }

    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
        color: $primary-col-2;
    }

    .dropdown-toggle::after {
        float: right;
    }




}

@media screen and (max-width: 768px){
    .quick-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.2em;
        text-align: center;
    }
    .quick-info--1{
        display: flex;
        justify-content: space-around;
    }
    .quick-info--2{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 0.6em;
        
    }
    div.container-fluid{
        background-color: $primary-col-1;
        color: $primary-col-2;
    }

    section.brandname {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0.5em;
        color: brown;
    }

    .navbar-brand {        
        color: $primary-col-1;
    }
    
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        padding-top: 0.3em;
        padding-bottom: 0.3em;
    }

    .navbar-light .navbar-brand {
        color: $primary-col-2;
    }

    .navbar-light .navbar-toggler {
        color: white;
        border-color: rgba(0,0,0,.1);
    }

    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");        
        background-color: white;
    }

    .navbar-light .navbar-nav , .navbar-light .navbar-nav .show>.nav-link {
        color: rgba(0,0,0,.9);
    }

    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
        color: $primary-col-2;
    }

    .navbar-light .navbar-nav .nav-link{
        color: $primary-col-2;
    }

    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
        color: $primary-col-2;
    }

    .dropdown-toggle::after {
        float: right;
    }




}

@media screen and (max-width: 425px){
    .quick-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.2em;
        text-align: center;
    }
    .quick-info--1{
        display: flex;
        flex-direction: column;
    }
    .quick-info--2{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 0.6em;
        margin-right: 8em;
        margin-left: 8em;
    }
    div.container-fluid{
        background-color: $primary-col-1;
        color: $primary-col-2;
    }

    section.brandname {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0.5em;
        color: brown;
    }

    .navbar-brand {        
        color: $primary-col-1;
    }
    
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        padding-top: 0.3em;
        padding-bottom: 0.3em;
    }

    .navbar-light .navbar-brand {
        color: $primary-col-2;
    }

    .navbar-light .navbar-toggler {
        color: white;
        border-color: rgba(0,0,0,.1);
    }

    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");        
        background-color: white;
    }

    .navbar-light .navbar-nav , .navbar-light .navbar-nav .show>.nav-link {
        color: rgba(0,0,0,.9);
    }

    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
        color: $primary-col-2;
    }

    .navbar-light .navbar-nav .nav-link{
        color: $primary-col-2;
    }

    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
        color: $primary-col-2;
    }

    .dropdown-toggle::after {
        float: right;
    }




}

// .navv-item{
//     height: 3.3em;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 11em;
//     font-size: 0.9em;
//     font-weight: 600;
// }


////////////////////////////////
 

.footerr_header{
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 1.3em;
}
.useful_link:hover{
    color: $primary-col-4;
}
.divider_line{
    border-bottom: 2px solid gray;
    height: 1.8em;
    margin-bottom: 1em;
}

.footer_bottom{
    border-top: 2px solid gray;
    margin-top: 0;
    background-color: $primary-col-3;
    color: $primary-col-2;
}

@media screen and (min-width: 1024px){
    .footerr{
        display: flex;
        flex-direction: column;
        background-color: black;
        color: $primary-col-2;
        padding: 2em;
        padding-top: 3em;
    }

    .footer_top{
        text-align: center;
        display: flex;

    }

    .footer_top_one{
       display: flex;
       justify-content: space-between;
    }

    .footer_top_one--1{
        margin-bottom: 1.5em;
    }

    .footer_top_one--1--content{
        display: flex;
        margin-bottom: 0.8em;
    }

    .footer_top_one--1--content .last-item{
        margin-bottom: 0;
    }

    .footer_top_one--2{
        margin-bottom: 0.5em;
    }

    .footer_top_one--2--links{
        display: flex;
        flex-direction: column;
    }

    .footer_top_one--2--links a {
        text-decoration: none;
        color: $primary-col-2;
    }

    .footer_top_two{
        display: flex;
        justify-content: space-between;
    }

    .footer_gallery{
        width: 7em;
        height: 7em;
    }

    .margin_bottom_small{
        margin-bottom: 1.2em;
    }

    .flex_justify_btw{
        display: flex;
        justify-content: space-between;
    }

    .working_hours{
        margin-top: 2em;
    }

    .footer_bottom{
        display: flex;        
        justify-content: space-between;
        text-align: center;
        // margin-top: 1.5em;
    }
}

@media screen and (max-width: 768px){
    .footerr{
        display: flex;
        flex-direction: column;
        background-color: black;
        color: $primary-col-2;
        padding: 2em;
        padding-top: 3em;
    }

    .footer_top{
        text-align: center;
    }

    .footer_top_one{
       display: flex;
       justify-content: space-between;
    }

    .footer_top_one--1{
        margin-bottom: 1.5em;
        width: 50%;
    }

    .footer_top_one--1--content{
        display: flex;    
        margin-bottom: 0.8em;
    }

    .margin_btm_icon{
        margin-right: 1.8em;
    }

    .footer_top_one--1--content .last-item{
        margin-bottom: 0;
    }

    .footer_top_one--2{
        margin-bottom: 0.5em;
        width: 50%;
    }

    .footer_top_one--2--links{
        display: flex;
        flex-direction: column;
    }

    .footer_top_one--2--links a {
        text-decoration: none;
        color: $primary-col-2;
    }

    .footer_top_two{
        display: flex;
        justify-content: space-between;
    }

    .footer_top_two--1{
        width: 45%;
    }
    .footer_top_two--2{
        width: 43%;
    }

    .footer_gallery{
        width: 6em;
        height: 7em;
    }

    .margin_bottom_small{
        margin-bottom: 1.2em;
    }

    .flex_justify_btw{
        display: flex;
        justify-content: space-between;
    }

    .working_hours{
        margin-top: 0;
    }

    .footer_bottom{
        display: flex;        
        justify-content: space-between;
        text-align: center;
        padding: 2em 2em;
        // margin-top: 1.5em;
    }

    .footer_bottom_links{
        
        width: 32%;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 425px){
    .footerr{
        display: flex;
        flex-direction: column;
        background-color: black;
        color: $primary-col-2;
        padding: 2em;
        padding-top: 3em;
    }

    .footer_top{
        text-align: center;
    }

    .footer_top_one{
       display: flex;
       flex-direction: column;
    }

    .footer_top_one--1{
        margin-bottom: 1.5em;
        width: auto;
    }

    .footer_top_one--1--content{
        display: flex;
        flex-direction: column;
        margin-bottom: 0.8em;
    }

    .margin_btm_icon{
        margin-bottom: 0.6em;
    }

    .footer_top_one--1--content .last-item{
        margin-bottom: 0;
    }

    .footer_top_one--2{
        margin-bottom: 0.5em;
        width: auto;
    }

    .footer_top_one--2--links{
        display: flex;
        flex-direction: column;
    }

    .footer_top_one--2--links a {
        text-decoration: none;
        color: $primary-col-2;
    }

    .footer_top_two {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer_top_two--1{
        width: auto;
    }
    .footer_top_two--2{
        width: auto;
    }

    .margin_top_small{
        margin-top: 1.2em;
    }

    .footer_gallery{
        width: 7em;
        height: 8em;
    }

    .margin_bottom_small{
        margin-bottom: 1.2em;
    }

    .flex_justify_btw{
        display: flex;
        justify-content: space-between;
    }

    .working_hours{
        margin-top: 2em;
    }

    .footer_bottom{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 1.6em 2em;
        // margin-top: 1.5em;
    }

    .footer_bottom_links{
        width: auto;
        margin-top: 1.1em;
        margin-left: 4em;
        margin-right: 4em;
        display: flex;
        justify-content: space-between;
    }
}